<footer class="footer">
  <div class="footer-main">
    <div class="footer-main-left">
      <img class="footer-main-left-logo" src="/icons/LankaStay.svg" alt="footer logo"
      width="145" height="40" loading="lazy"
      >
      <p class="footer-main-left-title">
        We kaboom your beauty holiday<br/>
        instantly and memorable.
      </p>
    </div>
    <div class="footer-main-right">
      <h3 class="footer-main-right-title">Become hotel Owner</h3>
      <button class="footer-main-right-button btn" routerLink="/register-owner">Register Now</button>
    </div>
  </div>
  <div class="footer-below">
    <p>Copyright 2026 • All rights reserved • LankaStay</p>
  </div>
</footer>
