<footer class="footer">
  <div class="footer-main">
    <div class="footer-main-left">
      <img class="footer-main-left-logo" src="/icons/LankaStay.svg" alt="footer logo">
      <p class="footer-main-left-title">
        We kaboom your beauty holiday<br/>
        instantly and memorable.
      </p>
    </div>
    <div class="footer-main-right">
      <h3 class="footer-main-right-title">Become hotel Owner</h3>
      <button class="footer-main-right-button btn">Register Now</button>
    </div>
  </div>
  <div class="footer-below">
    <p>Copyright 2024 • All rights reserved • Salman Faris</p>
  </div>
</footer>
