.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 150px;
  margin-top: 20px;
  color: var(--color-dark-blue);
}

.header-logo-image {
  width: 145px;
  height: auto;
  flex-shrink: 0;
  max-width: none;
}

.header-menu {
  margin-left: 434px;
}

.header-menu-list {
  display: flex;
  flex-direction:  row;
  column-gap: 35px;
}

.header-menu-item:hover {
  color: var(--color-light-blue);
}

.login-button {
  margin-inline: 50px;
}
