<header class="header">
  <a routerLink="/home" class="header-logo">
    <img src="/icons/LankaStay.svg" alt="LankaStay logo" class="header-logo-image"
         width="145" height="40" loading="lazy"
    >
  </a>
  <nav class="header-menu">
    <ul class="header-menu-list">
      <li class="header-menu-item">
        <a routerLink="/home" class="header-menu-link">Home</a>
      </li>
      <li class="header-menu-item">
        <a routerLink="/home" class="header-menu-link">Hotels</a>
      </li>
      <li class="header-menu-item">
        <a href="/" class="header-menu-link">About</a>
      </li>
      <li class="header-menu-item">
        <a href="/" class="header-menu-link">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="header-actions" *ngIf="currentUser$ | async as user; else guestActions">
    <button class="login-button btn" type="button" (click)="logout()">
      Logout
    </button>
  </div>

  <ng-template #guestActions>
    <div class="header-actions">
      <button class="login-button btn" type="button" routerLink="/login">
      Login
      </button>
    </div>
  </ng-template>
</header>
