.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 150px;
  margin-top: 20px;
  color: var(--color-dark-blue);
}

.header-menu {
  margin-left: 400px;
}

.header-menu-list {
  display: flex;
  flex-direction:  row;
  column-gap: 35px;
}

.header-menu-item:hover {
  color: var(--color-light-blue);
}

.btn {
  color: var(--color-white);
  padding: 5px 30px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--color-light-blue);
}

.btn:hover {
  transition-duration: 0.2s;
  background-color: #4192ff;
}
