<app-navbar></app-navbar>
<app-devider></app-devider>

<main class="content container">
  <section class="banner">
    <div class="banner-body">
      <div class="banner-body-left">
        <h1 class="banner-body_title">
          Forget Busy Work,<br/>
          Start Next Vacation
        </h1>
        <p class="banner-body_description">
          We provide what you need to enjoy your<br/>
          holiday with family. Time to make another<br/>
          memorable moments.
        </p>
        <button class="banner-body_button btn" (click)="scrollToElement(target)">
          Show More
        </button>
        <div class="banner-body-info">
          <div class="banner-body-info_item">
            <img src="/icons/ic_traveler%20(1)%201.svg" alt="Users Icon" class="banner-body-info_item_icon"
                 width="32" height="32" loading="lazy"
            >
            <div class="banner-body-info_item_description">
              2500
              <div class="banner-body-info_item_description_title">
                Users
              </div>
            </div>
          </div>
          <div class="banner-body-info_item">
            <img src="/icons/ic_treasure%201.svg" alt="Treasure Icon" class="banner-body-info_item_icon"
                 width="32" height="32" loading="lazy"
            >
            <div class="banner-body-info_item_description">
              200
              <div class="banner-body-info_item_description_title">
                Treasure
              </div>
            </div>
          </div>
          <div class="banner-body-info_item">
            <img src="/icons/ic_cities%201.svg" alt="Cities Icon" class="banner-body-info_item_icon"
                 width="32" height="32" loading="lazy"
            >
            <div class="banner-body-info_item_description">
              100
              <div class="banner-body-info_item_description_title">
                Cities
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-body-picture">
        <img src="/images/banner-picture.jpg" alt="Banner Picture">
      </div>
    </div>
  </section>
  <app-search-bar></app-search-bar>
  <section class="most-picked" #target id = "more-hotels">
    <div class="most-picked-title">
      Most Picked
    </div>
    <div class="most-picked-title-grid">
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

      <app-hotel-card
        *ngFor="let hotel of hotels"
        [hotel]="hotel">
      </app-hotel-card>
    </div>
  </section>
</main>
<app-devider></app-devider>
<app-footer></app-footer>
