.banner-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 160px;
  margin-top: 70px;
}

.banner-body-left {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.banner-body_title {
  color: var(--color-dark-blue);
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
}

.banner-body_button {
  width: 170px;
}

.banner-body-info {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  margin-top: 60px;
}

.banner-body_description {
  font-weight: lighter;
}

.banner-body-info_item_description {
  display: flex;
  color: var(--color-dark-blue);
  column-gap: 7px;
}

.banner-body-info_item_description_title {
  color: var(--color-gray);
}

.banner-body-picture {
  position: relative;
  min-width: 450px;
}

.banner-body-picture::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
  left: 30px;
  z-index: -1;
  background: url("/icons/frame.svg") no-repeat center;
}

@media (max-width: 1300px) {
  .banner-body {
    column-gap: 80px;
    min-width: 1315px;
  }
}

@media (max-width: 1200px) {
  .banner-body {
    min-width: 1275px;
  }
  .banner-body-picture {
    display: none;
  }
  .banner-body-left {
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    row-gap: 35px;
  }
  .banner-body_title {
    font-size: 70px;
    line-height: 1.2;
  }
  .banner-body_description {
    font-size: 22px;
    line-height: 1.2;
  }
  .banner-body-info {
    margin-top: 30px;
  }
}

app-search-bar {
  display: block;
  margin-top: 140px;
  align-items: center;
}

